body {
    background-color: lightblue;  color: white;
}

.top {
    font-size: 100px; text-align: center; font-weight: bold;
}
.nav {
    font-size: 35px;
}
.hawaii {
    align-self: auto; margin-left: 300px; width: 600px;
}


.col-lg-6 {
    color:navy; font-weight: bold; 
}

.kitty {
 text-align: center; justify-content: center;
}

.contact {
    justify-content: center; text-align: center; font-family: sans-serif;
}

.contactheader {
    text-align: center; font-family: sans-serif; text-decoration: blue;
}
.contactinfo {
    text-align: center; font-family: sans-serif; color: white;  margin-top: 50px;
}

.text {
    margin-top: 30px; text-align: center; font-family: sans-serif;
}
