body {
    background-color: lightblue;  color: white;
}

.top {
    font-size: 100px; text-align: center; font-weight: bold;
}
.nav {
    font-size: 35px;
}
.hawaii {
    align-self: auto; margin-left: 300px; width: 600px;
}


.col-lg-6 {
    color:navy; font-weight: bold; 
}

.kitty {
 text-align: center; margin-top: 200px; justify-content: center;
}
